* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.btn {
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    background-color:#0084fd ;
    border: 0;
}

.center {
    max-width: 85%;
    margin: 0 auto;
}

nav {
    background-color: #0084fd;
    color: white;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar .nav-link .compress {
    font-size: 25px;
}

main {
    padding-top: 120px;
}

main .main-card-container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

main .main-card-container .card {
    background-color: #b5ddff;
    padding: 0 30px;
    padding-top: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
}

main .main-card-container .card .demo {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    align-items: center;
}

main .main-card-container .card .demo .btn {
    font-size: 15px;
    align-self: flex-start;
    padding: 15px 50px;
}

main .main-card-container .card .demo h2 {
    color: #0081fc;
    align-self: flex-start;
}

main .main-card-container .card .demo p {
    color: #5a6e7f;
    font-weight: bold;
    line-height: 30px;
}

main .main-card-container .card img {
    max-width: 80%;
}

.main-card-container .info-card .info-card-title {
    color:#0084fd ;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 25px;
}

.main-card-container .info-card .info-card-title .fa-solid {
    font-size: 90px;
}

.main-card-container .info-card .info-card-title span {
    font-weight: bold;
    font-size: 25px;
    color: #0081fc;
}

.main-card-container .info-card .info-card-description {
    color: #5a6e7f;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.main-card-container {
    padding-bottom: 100px;
}

.planning {
    background-color:#9593e6;
    color: white;
    padding-bottom: 50px;
}

.planning .planning-container {
    display: flex;
    flex-flow: column wrap;
    gap: 70px;
}

.planning .planning-container .planning-img {
    max-width: 100%;
}

.planning .planning-container .planning-img img {
    max-width: 100%;
}

.planning .planning-container .info-planning {
    display: flex;
    flex-direction: column;
    gap: 50px;
    line-height: 30px;
    padding-bottom: 30px;
}

.planning .planning-container .info-planning h2 {
    font-size: 30px;
}


.planning .planning-container .last-planning {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    text-align: center;
    padding: 30px;
}

.planning .planning-container .last-planning h2 {
    font-weight: bolder;
}

.planning .planning-container .last-planning p {
    line-height: 40px;
    font-style: italic;
    font-weight: 500;
}

.planning .planning-container .last-planning .download {
    border-radius: 50%;
    border: 0;
    background-color: #9792e4;
    font-weight: bolder;
    max-width: 20%;
    padding: 3.5% 5%;
    align-self: center;
}

.planning .planning-container .last-planning img {
    width: 100%;
}

.testimonials {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimonials .testimonials-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.testimonials .testimonials-info h2 {
    color: #9792e4;
}

.testimonials .testimonials-info p {
    line-height: 25px;
}

.testimonials .testimonials-card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonials .testimonials-card-container .testimonials-card:last-child {
    margin-bottom: 100px;
}

.testimonials .testimonials-card-container .testimonials-card {
    background-color: #9593e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    color: white;
}

.testimonials .testimonials-card-container .testimonials-card .testimonials-card-img {
    max-width: 70%;
    padding: 20px;
}

.testimonials .testimonials-card-container .testimonials-card .testimonials-card-img img {
    max-width: 100%;
    border-radius: 50%;
}

.testimonials .testimonials-card-container .testimonials-card .testimonials-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 30px;
}


.testimonials .testimonials-card-container .testimonials-card .testimonials-description div span {
    line-height: 30px;
}

.benefit {
    background-color:#9792e4 ;
    padding-top: 50px;
}


.benefit .benefit-container .benefit-title {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.2em;
}

.benefit .benefit-container .benefit-card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.benefit .benefit-container .benefit-card-container .benefit-card {
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benefit .benefit-container .benefit-card-container .benefit-card h2 {
    font-size: 40px;
}

.benefit .benefit-container .benefit-card-container .benefit-card h2, h3 {
    color: #9593e6;
}

.benefit .benefit-container .benefit-card-container .benefit-card p {
    color: #868686;
    line-height: 25px;
}

.benefit .benefit-container .benefit-card-container .benefit-card .btn-benefit {
    color: white;
    background-color: #9593e6;
    border-radius: 25px;
    border: 0;
    max-width: 60%;
    padding: 10px 0px;
}

.about-us {
    padding-bottom: 70px;
}

.about-us-container .about-us-description {
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-us-container .about-us-description h2{
    color: #9593e6;
    font-size: 30px;
}

.about-us-container .about-us-description h2,
.about-us-container .about-us-description p {
    line-height: 30px;
}

.about-us-container .about-boss {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-container .about-boss .boss-img {
    position: relative;
    max-width: 40%;
}

.about-us-container .about-boss .boss-img img {
    max-width: 100%;
    border-radius: 50%;
}

.about-us-container .about-boss .boss-img .fa-quote-left {
    position: absolute;
    top: 0;
    right: 0;
    color: #9593e6;
    font-size: 40px;
}

.about-us-container .about-boss .btn-boss {
    max-width: 60%;
    border-radius: 25px;
    border: 0;
    background-color: #9792e4;
    padding: 5px 0;
    color: white;
}

.get-started {
    background-color: #9593e6;
    color: white;
}
.get-started .get-started-container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}


.get-started .get-started-container  h3 {
    color: white;
    font-size: 25px;
}

.get-started .get-started-container h2 {
    color: #fdc15f;
    font-size: 50px;
}

.get-started .get-started-container .btn-start {
    padding: 20px 65px;
    border: 0;
    background-color: white;
    color: #9593e6;
    font-weight: bold;
    border-radius: 25px;
    letter-spacing: 2px;
}

.get-started .get-started-container .copyright {
    font-size: 13px;
}

footer {
    background-color:#333333 ;
}
.footer-container {
    color: white;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
}

.footer-container span a {
    color: #9593e6;
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    main .main-card-container {
        flex-flow: row wrap;
    }

    main .main-card-container .card {
        padding: 10px 10px;
    }

    main .main-card-container .card:first-child {
        max-width: calc( 100% / 3 * 2 - 20px / 3 * 1 );
        padding-bottom: 0px;
    }

    main .main-card-container .card:first-child img {
        max-width: 70%;
        align-self: flex-start;
    }

    main .main-card-container .info-card:first-child {
        max-width: calc( 100% / 3 * 1 - 20px / 3 * 1 );
    }

    main .main-card-container .info-card {
        max-width: calc( 100% / 3 * 1 - 20px / 3 * 2);
    }

    .testimonials .testimonials-card-container .testimonials-card {
        display: flex;
        flex-direction: row;
    }

    .testimonials .testimonials-card-container .testimonials-card .testimonials-description {
        padding-top: 40px;
    }

    .benefit .benefit-container .benefit-card-container {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
    }

    .benefit .benefit-container .benefit-card-container .benefit-card {
        max-width: calc( 100% / 2 * 1 - 30px / 2 * 1 );
    }

    .about-us-container {
        display: flex;
    }

    .about-us-container .about-us-description {
        max-width: 50%;
    }

    .about-us-container .about-boss {
        margin-top: 70px;
        margin-left: 70px;
    }

    .about-us-container .about-boss .boss-img {
        max-width: 60%;
    }
}