* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.center {
    max-width: 85%;
    margin: 0 auto;
}

nav {
    background-color: #0084fd;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar .nav-link .compress {
    font-size: 25px;
}